{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<table>
  <tr>
    <th></th>
    {% for i in debt %}
        <th>{{ i.year }}{% if i.month %}.{{ i.month }}{% endif %}</th>
      {% endfor %}
  </tr>
    {% for d in debt_type %}
  <tr>
    <td>{{ d }}</td>
        {% for j in debt %}
            {% if j.type.name == d %}
                <td>{{ j.amount }}</td>
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
  </tr>
    {% endfor %}
<tr>
    <td>Sum:</td>
    {% for j in debt %}
        <td></td>
    {% endfor %}
        <td><font color="red" >{{ sum }}</font></td>
</tr>
</table>

{% endblock %}




