{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
    table {
        border-collapse: collapse;
    }
    table th,
    table td {
        padding: 0 5px;
        border: 1px solid #000;
        text-align: center;
    }
</style>
    <hr>
{% if filter == False %}
    <table>
        <tr>
            <td>{# 0.0 Пустая ячейка #}</td>
            {% for item in debt %}
                {# 1 ряд вывод год задолженности #}
                <td><a href="{% url 'mydebt' item.year %}">{{ item.year }}</a></td>
            {% endfor %}
        </tr>
        {# Вывод тип задолженности и сумму  #}
        {% for d_type in debt_type %}
        <tr>
            <td>{{ d_type.name }}</td>
                {% for item in debt %}
                    {% if item.type__name == d_type.name %}
                        <td>{{ item.sum_year }}</td>
                    {% else %}
                        <td>{# Пусто, если нет данных за год #}</td>
                    {% endif %}
                {% endfor %}
          </tr>
            {% endfor %}
        <tr>
            <td>Sum:</td>
            <td><font color="red" >{{ sum }}</font></td>
        </tr>
    </table>
{% elif filter == True %}
    <table>
        <tr>
            <th>{# 0.0 Пустая ячейка #}</th>
            {# 1 ряд вывод год задолженности #}
            {% for item in debt %}
                <th>{% if item.month %}{{ item.month }}.{% endif %}{{ item.year }}</th>
            {% endfor %}
        </tr>
        {% for d_type in debt_type %}
            <tr>
                <td>{{ d_type.name }}</td>
                {% for item in debt %}
                    {% if item.type.name == d_type.name %}
                        <td>{{ item.amount }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    <tr>
        <td>Sum:</td>
        <td><font color="red" >{{ sum }}</font></td>
    </tr>

    </table>
{% endif %}
    <hr>


    <table>
        <tr>
            <td></td>
            {% for year in years %}
                <td>1</td>
            {% endfor %}

        </tr>

    {% for d_type in debt_type %}
        <tr>
            <td>{{ d_type }}</td>
            {% for year in years %}

                {% for k,v in test.items %}
                    {% if k.0 == year and k.1 == d_type.name %}
                        <td>{{ year }}</td>
                        <td>{{ v }}</td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}


    </table>


{% endblock %}
