{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
    table {
        border-collapse: collapse;
    }
    table th,
    table td {
        padding: 0 5px;
        border: 1px solid #000;
        text-align: center;
    }
</style>
    <hr>
   {% autoescape off %}
    <table>
        {% for item in all %}
            <tr>
                {% for i in item %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endautoescape %}

{% endblock %}




