
{% block content %}
<style type="text/css">
    table {
        border-collapse: collapse;
    }
    table th,
    table td {
        padding: 0 5px;
        border: 1px solid #000;
        text-align: center;
    }
</style>
    <hr>

{% if filter %}
        <table>
        <tr>
            <td></td>
            {% for year in years %}
                <td> {{ year }} </td>
            {% endfor %}
            <td>Итого</td>
        </tr>
        {% for d_type in debt_type %}
        <tr>
            <td> {{ d_type }} </td>
            {% set sum_year = 0 %}
            {% for year in years %}

                {% if all[(year, d_type)] %}
                    <td> {{ all[(year, d_type)] }} </td>
                {% else %}
                    <td></td>
                {% endif %}

            {% endfor %}
            <td> {{ sum_year }} </td>

        </tr>
        {% endfor %}
        <tr>
            <td>Sum</td>
            {% for year in years %}
                <td> </td>
            {% endfor %}
            <td>{{ debt_sum }}</td>
        </tr>
    </table>
{% else %}
        <table>
        <tr>
            <td></td>
            {% for year in years %}
                <td> {{ year }} </td>
            {% endfor %}
            <td>Итого</td>
        </tr>
        {% for d_type in debt_type %}
        <tr>
            <td> {{ d_type }} </td>
            {% set sum_year = 0 %}
            {% for year in years %}
                {% if all[(year, d_type)] %}
                    <td> <a href=" {{ url ('mydebt', year)  }}">{{ all[(year, d_type)] }}</a> </td>
                {% else %}
                    <td></td>
                {% endif %}

            {% endfor %}
            <td> {{ sum_year }} </td>

        </tr>
        {% endfor %}
        <tr>
            <td>Sum</td>
            {% for year in years %}
                <td> </td>
            {% endfor %}
            <td>{{ debt_sum }}</td>
        </tr>
    </table>
{% endif %}


{% endblock %}
